<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leaf.club.dao.IBlogDao">
    <resultMap id="BaseResultMap" type="com.leaf.club.model.Blog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="blog_author_id" jdbcType="INTEGER" property="blogAuthorId"/>
        <result column="blog_create_time" jdbcType="BIGINT" property="blogCreateTime"/>
        <result column="blog_title" jdbcType="VARCHAR" property="blogTitle"/>
        <result column="blog_excerpt" jdbcType="VARCHAR" property="blogExcerpt"/>
        <result column="blog_content" jdbcType="VARCHAR" property="blogContent"/>
        <result column="blog_source" jdbcType="VARCHAR" property="blogSource"/>
        <result column="blog_file_url" jdbcType="VARCHAR" property="blogFileUrl"/>
        <result column="blog_type" jdbcType="INTEGER" property="blogType"/>
        <result column="blog_type_name" jdbcType="VARCHAR" property="blogTypeName"/>
        <result column="blog_tag" jdbcType="VARCHAR" property="blogTag"/>
        <result column="blog_describe" jdbcType="VARCHAR" property="blogDescribe"/>
        <result column="blog_status" jdbcType="TINYINT" property="blogStatus"/>
        <result column="blog_comment_count" jdbcType="INTEGER" property="blogCommentCount"/>
        <result column="blog_praise_count" jdbcType="INTEGER" property="blogPraiseCount"/>
        <result column="blog_favorites_count" jdbcType="INTEGER" property="blogFavoritesCount"/>
        <result column="blog_read_count" jdbcType="INTEGER" property="blogReadCount"/>
        <result column="blog_update_time" jdbcType="BIGINT" property="blogUpdateTime"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"/>
    </resultMap>

    <sql id="BaseColumns">
        id, blog_author_id, blog_create_time, blog_title, blog_excerpt, blog_content,
        blog_source, blog_file_url, blog_type,
        blog_type_name, blog_tag, blog_describe, blog_status, blog_comment_count, blog_praise_count,
        blog_favorites_count, blog_read_count, blog_update_time, extra
    </sql>

    <select id="getBlogById" parameterType="int" resultMap="BaseResultMap">
        SELECT
        <include refid="BaseColumns"/> FROM blogs WHERE id = #{id}
    </select>

    <insert id="saveBlog" parameterType="com.leaf.club.model.Blog" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO blogs(blog_author_id,blog_create_time, blog_title, blog_excerpt, blog_content,
        blog_source, blog_file_url, blog_type,
        blog_type_name, blog_tag, blog_describe, blog_status, blog_comment_count, blog_praise_count,
        blog_favorites_count, blog_read_count, blog_update_time)
        VALUES
         (#{blogAuthorId},#{blogCreateTime},#{blogTitle},#{blogExcerpt},#{blogContent},
	     #{blogSource},#{blogFileUrl},#{blogType},#{blogTypeName},#{blogTag},#{blogDescribe},#{blogStatus},
         #{blogCommentCount},#{blogPraiseCount},#{blogFavoritesCount},#{blogReadCount},#{blogUpdateTime})
    </insert>

    <update id="reSaveBlog" parameterType="com.leaf.club.model.Blog">
        UPDATE blogs SET blog_title = #{blogTitle}, blog_excerpt = #{blogExcerpt}, blog_content = #{blogContent}
        ,blog_source = #{blogSource}, blog_type = #{blogType},
        blog_type_name = #{blogTypeName}, blog_tag = #{blogTag}, blog_describe = #{blogDescribe},
        blog_status = #{blogStatus}, blog_update_time = #{blogUpdateTime} WHERE id = #{id}
    </update>

    <update id="readBlogCount" parameterType="int">
        UPDATE blogs SET blog_read_count = blog_read_count + 1 WHERE id = #{id}
    </update>
    

    <update id="praiseBlog" parameterType="int">
        UPDATE blogs SET blog_praise_count = blog_praise_count + 1 WHERE id = #{id}
    </update>

    <select id="readAllBlogByPage" parameterType="map" resultType="map">
        SELECT blog_author_id,blog_create_time, blog_title, blog_excerpt, blog_type,
        blog_type_name, blog_tag, blog_comment_count, blog_praise_count,
         blog_favorites_count, blog_read_count, blog_update_time WHERE blog_status = 1
    </select>

    <select id="readTypeBlogByPage" parameterType="map" resultType="map">
      SELECT blog_author_id,blog_create_time, blog_title, blog_excerpt, blog_type,
      blog_type_name, blog_tag, blog_comment_count, blog_praise_count,
      blog_favorites_count, blog_read_count, blog_update_time WHERE blog_status = 1 AND blog_type = #{blog_type}
    </select>

    <select id="readBlog" parameterType="int" resultType="map">
        SELECT blog_author_id,blog_create_time, blog_title, blog_excerpt, blog_content,
        blog_source, blog_type,
        blog_type_name, blog_tag, blog_describe, blog_comment_count, blog_praise_count,
        blog_favorites_count, blog_read_count, blog_update_time,user_nickname,user_img
        FROM blogs,users WHERE blogs.id=#{id} AND blogs.blog_author_id=users.id
    </select>

</mapper>