<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leaf.club.dao.IBlogPraiseDao">
    <resultMap id="BaseResultMap" type="com.leaf.club.model.PraiseBlog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="blog_id" jdbcType="INTEGER" property="praiseBlogId"/>
        <result column="extra" jdbcType="VARCHAR" property="extra"/>
    </resultMap>

    <sql id="BaseColumns">
        id, user_id, blog_id, extra
    </sql>

    <select id="praiseBlogSelect" parameterType="map" resultType="Integer">
        SELECT id FROM blog_praise WHERE blog_id =#{id} AND user_id = #{userId}
    </select>
    <insert id="praiseBlogInsert" useGeneratedKeys="true" keyColumn="id" parameterType="map">
        INSERT blog_praise(blog_id,user_id) VALUES (#{id},#{userId})
    </insert>

    <update id="praiseBlogUpdate" parameterType="int">
        UPDATE blogs SET blog_praise_count = blog_praise_count + 1 WHERE id = #{id}
    </update>

    <delete id="praiseBlogDelete" parameterType="map">
        DELETE FROM blog_praise WHERE blog_id =#{id} AND user_id = #{userId}
    </delete>

    <update id="praiseBlogUpdateMinus" parameterType="int">
        UPDATE blogs SET blog_praise_count = blog_praise_count-1 WHERE id = #{id}
    </update>
</mapper>