<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leaf.club.dao.IUserFavoritesBlogsDao">
<resultMap id="BaseResultMap" type="com.leaf.club.model.UserFavoritesBlogs">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="user_id" jdbcType="INTEGER" property="userId"/>
    <result column="favorite_blog_id" jdbcType="INTEGER" property="favoriteBlogId"/>
    <result column="extra" jdbcType="VARCHAR" property="extra"/>
</resultMap>

<sql id="BaseColumns">
    id, user_id, favorite_blog_id, extra
</sql>

    <select id="favoritesBlogSelect" parameterType="map" resultType="Integer">
        SELECT id FROM user_favorites_blogs WHERE favorite_blog_id =#{id} AND user_id = #{userId}
    </select>
    <insert id="favoritesBlogInsert" useGeneratedKeys="true" keyColumn="id" parameterType="map">
        INSERT user_favorites_blogs(favorite_blog_id,user_id) VALUES (#{id},#{userId})
    </insert>

    <update id="favoritesBlogUpdate" parameterType="int">
        UPDATE blogs SET blog_favorites_count = blog_favorites_count + 1 WHERE id = #{id}
    </update>

    <delete id="favoritesBlogDelete" parameterType="map">
        DELETE FROM user_favorites_blogs WHERE favorite_blog_id =#{id} AND user_id = #{userId}
    </delete>

    <update id="favoritesBlogUpdateMinus" parameterType="int">
        UPDATE blogs SET blog_favorites_count = blog_favorites_count-1 WHERE id = #{id}
    </update>
</mapper>